<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test.name %>
</p>

<p>
  <b>Title:</b>
  <%= @test.title %>
</p>

<p>
  <b>Content:</b>
  <%= @test.content %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
